.container {
  text-align: center;
  margin-top: 150px;
}

.loader {
  width: 30px;
  height: 30px;
  margin: auto;
  border: 4px solid #ffc5c5;
  border-bottom-color: #a62626;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linier infinite;
  -webkit-animation: rotation 1s linier infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
