.form {
  border: 1px solid silver;
  padding: 24px;
  width: 400px;
  height: auto;
  background-color: rgb(75, 182, 209);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.form h3 {
  margin-bottom: 30px;
  border-bottom: 3px solid #a62626;
  width: fit-content;
  padding-bottom: 5px;
}

.form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.form input {
  display: flex;
  width: 300px;
  padding: 5px;
  border: 1px solid silver;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form button {
  background-color: #a62626;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form button:disabled {
  opacity: 0.5;
}

.form p {
  background-color: #a62626;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
